{% extends "layout.html" %}

{% block content %}
    <h2>Home Page</h2>
    <form action="{{ url_for('home_page') }}" method="post">
        <p><label>Rolls:
            <input name="rolls" value="1">
        </label></p>
        <p><label>Sides:
            <select name="sides">
                <option value="2">d2</option>
                <option value="4">d4</option>
                <option value="6">d6</option>
                <option value="8">d8</option>
                <option value="10">d10</option>
                <option value="12">d12</option>
                <option value="20">d20</option>
            </select>
        </label></p>
        <button type="submit">Submit</button>
    </form>
    <h3>Output: {{ number }}</h3>
{% endblock %}
